/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0,100% 0,100% calc(100% - 4vw),0 100%);
  clip-path: polygon(0 0,100% 0,100% calc(100% - 4vw),0 100%);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.heroText {
  margin: auto;
}

@media screen and (max-width: 999px){
  .heroImage {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.legalText {
  padding-top: 2rem;
}