a.downloadButton {
    background-color: var(--ifm-color-primary-light);
}

a.downloadButton:hover {
    background-color: transparent;
    color: var(--ifm-font-color-base);
}

.select {
    margin-bottom: 1rem;
}